.counter {
    height: 60rem;
    width: 40rem;
    background-color: #EEF1FF;
    border-radius: 2rem;
}

.counter__number {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter__buttons {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.counter__button {
    padding: 2rem 4rem;
    border: none;
    font-size: 100%;
    border-radius: 1rem;
}

.counter__value {
    font-family: sans-serif;
    font-size: 400%;
    font-weight: 400;
}